/*相框*/
.frameone,.frametwo,.framethree,.framefour,.framefive,.framesix,.frameseven,.frameeight,.framenine,.frameten{
	background: url(../img/Photo-frame.png) no-repeat center center;
	background-size: 100% 100%;
}
/*照片动画*/
.frameone img,.frametwo img,.framethree img,.framefour img,.framefive img,.framesix img,.frameseven img,.frameeight img,.framenine img,.frameten img{
	width: 100%;
	animation:first 3s;
	-moz-animotion:first 3s;
	-webkit-animotion:first 3s;
	-o-animotion:first 3s; 
 }
@keyframes first{
	0%{transform: scale(0.3);}
}

@-webkit-keyframes first{
	0%{transform: scale(0.3);}
}

@-moz-keyframes first{
	0%{transform: scale(0.3);}
}
@-o-keyframes first{
	0%{transform: scale(0.3);}
}

/*文字动画*/
.textone img,.textthree img,.textfour img,.textfive img,.textsix img,.textseven img,.texteight img,.textnine img,.textten img,.texteleven img,.texttwelve img,.textthirteen img,.textfourteen img{
	width: 100%;
	animation: beat 6s ease 3s 1 normal; /*名字 总时间 频率 开始时间 次数*/
}
.textthree img,.textfive img,.textseven img,.textten img,.textthirteen img{
	animation: beat 6s ease 4s 1 normal;
}
.texteight img,.texteleven img,.textfourteen img{
	animation: beat 6s ease 5s 1 normal;
}
@keyframes beat {
	0% {
		transform: translateY(0px);
	}
	2% {
		transform: translateY(-7px);
	}
	6% {
		transform: translateY(7px);
	}
	8% {
		transform: translateY(0px);
	}
	10% {
		transform: translateY(-5px);
	}
	12% {
		transform: translateY(5px);
	}
	16% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(0px);
	}
	100% {
		transform: translateY(0px);
	}
}


/*页面布局以下*/
	/*page1*/
	.page1-upper,.page1-center,.page1-lower{
		display: flex;
		position: relative;
	}
	.page1-upper:nth-child(1){
		width: 50%;
	}
	.page1-upper:nth-child(2){
		/*align-self:center;*/
		width: 50%;
	}
	.page1-center:nth-child(1){
		width: 30%;
	}
	.page1-center:nth-child(2){
		width: 60%;
	}
	.page1-lower:nth-child(1){
		width: 60%;
	}
	.page1-lower:nth-child(2){
		width: 40%;
	}
	.Lballoon {
	    width: 2.4375rem;
	    transform: rotate(-25deg);
	    align-self:center;
	    position: absolute;
	    left: 3.85rem;
    	top: 0.8rem;
	}
	.Lballoon img{
		width: 100%;
	}
	.frameone,.frame1 {
	    width: 13.9375rem;
	    height: 12.5625rem;
	    margin: 20% 0 0 4%;
	}
	.frameone img{
		transform: rotate(-10deg);
		width: 80%;
		margin: 2.9rem 0 0 1.3125rem;
	}	
	.textone,.text1{
	    width: 11.2125rem;
    	padding-top: 4.995rem;
	}
	.textthree,.text3 {
	    width: 11.1875rem;
	    margin: 3rem 0 0 0;
	}
	.frametwo,.frame2 {
		transform: rotate(25deg);
	    width: 13.312rem;
	    height: 13.0625rem;
	    margin: 0.625rem 0 0 0.5rem;
	}
	.frametwo img {
		margin: 1.625rem 0 0 0;
		transform: rotate(-21deg);
    	width: 99%;
	}
	.stars {
	    width: 2.3rem;
	    position: absolute;
	    left: 20.125rem;
	    top: 0.325rem;
	}
	.stars img{
		width: 100%;
	}
	.balloon {
		position: absolute;
		left: 10.25rem;
    	top: 2.1875rem;
	    width: 3.5rem;
	    height: 4.3125rem;
	    transform: rotate(10deg);
	}
	.balloon img{
		width: 82%;
	}
	.baby {
		opacity: 0;
		width: 15.125rem;
	}
	.marchbaby {
	    width: 15.125rem;
	    height: 17.25rem;
	    position: relative;
	}
	.marchbaby img{
		width: 95%;
		position: relative;
    	left: -14.625rem;
    	top: 30px;
	}
	.cloud {
	    width: 3.5625rem;
	    margin: 6.875rem 0 0 0.625rem;
	}
	.Map {
	    width: 5.375rem;
	    height: 4.565rem;
	    margin: 2.5rem 0 0 3.4375rem;
	}
	.Map img{
		width: 100%;
	}


	/*   page2   */
	.page2-upper,.page2-center,.page2-lower{
		display: flex;
		position: relative;
	}
	.page2-center:nth-child(1){
		width: 40%;
	}
	.page2-center:nth-child(2){
		align-self:center;
		width: 60%;
	}
	.page2-lower:nth-child(1){
		width: 50%;
	}
	.page2-lower:nth-child(2){
		width: 50%;
	}
	.Bird {
	    width: 4.25rem;
	    position: absolute;
	    left: 2.0625rem;
	    top: 4.75rem;
	}
	.text4,.textfour {
	    width: 10.3875rem;
	    position: absolute;
	    left: 7.25rem;
	}
	.aircraft {
	    width: 7.9rem;
	    position: absolute;
	    left: 17.875rem;
	    top: 1.1875rem;
	}
	.textfive,.text5 {
	    width: 6.1875rem;
    	margin: 12.8125rem 0 0 2.6875rem;
	}
	.cloud2 {
	    width: 2.9rem;
	    position: absolute;
	    top: 10.6875rem;
    	left: 18.9375rem;
	}
	.framethree,.frame3 {
	    width: 14.8125rem;
	    height: 13.625rem;
	    transform: rotate(24deg);
	    margin: 12.375rem 0 0 2.8125rem;
	}
	.framethree img{
		transform: rotate(-23deg);
		width: 100%;
		margin: 1.0625rem 0 0 -0.25rem;
	}
	.framefour,.frame4 {
	    width: 12.0625rem;
	    height: 10.4375rem;
	    transform: rotate(-6deg);
	    margin: 1.4375rem 0 0 0.875rem;
	}
	.framefour img{
		margin: 2.2rem 0 0 1.1875rem;
		width: 78%;
	    transform: rotate(-10deg);
	}
	.glasses {
		position: absolute;
	    left: 9.25rem;
	    top: 12.3125rem;
	    width: 4rem;
	}
	.glasses img{
		width: 100%;
	}
	.marchthree {
		position: relative;
		left: 13.75rem;
	    width: 14.3125rem;
    	margin: 2.9375rem 0 0 -1rem;
	}
	.marchthree img{
		width: 90%;
	}


	/*   page3   */
	.page3-upper,.page3-center,.page3-lower{
		display: flex;
		position: relative;
	}
	.page3-upper:nth-child(1){
		width: 50%;
	}
	.page3-upper:nth-child(2){
		width: 50%;
	}
	.page3-center:nth-child(1){
		width: 40%;
	}
	.page3-center:nth-child(2){
		width: 60%;
	}
	.page3-lower:nth-child(1){
		width: 50%;
	}
	.page3-lower:nth-child(2){
		width: 50%;
	}
	.Bird2 {
	    width: 3.4375rem;
	    position: absolute;
	    top: 1.625rem;
	    left: 3.3125rem;
	}
	.framefive,.frame5 {
	    width: 13rem;
	    height: 11.9375rem;
	    margin: 3.375rem 0 0 0.8125rem;
	}
	.framefive img{
		width: 80%;
    	transform: rotate(-10deg);
		margin: 2.625rem 0 0 1.3125rem;
	}
	.cloud3 {
	    width: 3.3875rem;
	    position: absolute;
	    top: 3.5625rem;
	    right: -3.375rem;
	}
	.Bird3 {
	    width: 3rem;
	    position: absolute;
	    left: 22rem;
	    top: 2.5rem;
	}
	.textsix,.text6 {
	    width: 12.3125rem;
	    margin: 8.625rem 0 0 -0.1875rem;
	}
	.textseven,.text7 {
	    width: 10.5625rem;
    	margin: 2.625rem 0 0 0.3125rem;
	}
	.framesix,.frame6 {
		transform: rotate(22deg);
	    width: 13.9375rem;
	    height: 12.5rem;
	    margin: 25px 0 0 0.875rem;
	}
	.framesix img{
		transform: rotate(-20deg);
		width: 91%;
    	margin: 1.5rem 0 0 1.1rem;
	}
	.balloon3 {
	    width: 2.25rem;
	    height: 2.70rem;
	    position: absolute;
	    top: -1.625rem;
	    left: 19.6875rem;
	}
	.marcheight {
		position: relative;
	    width: 18.5rem;
	    margin: 1.75rem 0 0 -2.8125rem;
	}
	.marcheight img {
		width: 100%;
	    position: relative;
    	right: 14.1875rem;
	}
	.cloud4 {
	    width: 3.2rem;
	    position: absolute;
	    left: 10.3125rem;
	    top: 4.125rem;
	}
	.texteight,.text8 {
	    width: 10.9375rem;
	    margin: 6.125rem 0 0 -8rem;
	}
	.Stars2 {
	    width: 2.125rem;
	    position: absolute;
	    left: 20.5rem;
	    top: 13.1875rem;
	}

	/*   page4   */
	.page4-upper,.page4-center,.page4-lower{
		display: flex;
		position: relative;
	}
	.page4-upper:nth-child(1){
		width: 50%;
	}
	.page4-upper:nth-child(2){
		width: 50%;
	}
	.page4-center:nth-child(1){
		width: 60%;
	}
	.page4-center:nth-child(2){
		width: 40%;
	}
	.page4-lower:nth-child(1){
		width: 50%;
	}
	.page4-lower:nth-child(2){
		width: 50%;
	}
	.Bicycle {
	    width: 6.3125rem;
	    position: absolute;
	    top: 2.375rem;
	    left: 2.875rem;
	}
	.textnine,.text9 {
	    width: 10.25rem;
	    margin: 6.9375rem 0 0 0;
	}
	.frameseven,.frame7 {
		transform: rotate(22deg);
	    width: 14.0625rem;
	    height: 12.5625rem;
	    margin: 2.0625rem 0 0 0.875rem;
	}
	.frameseven img{
		transform: rotate(-22deg);
		width: 92%;
    	margin: 1.4375rem 0 0 0.5625rem;
	}
	.Bird4 {
	    width: 3rem;
	    position: absolute;
	    left: 19.5rem;
	    top: 1.875rem;
	}
	.frameeight,.frame8 {
	    width: 12.3125rem;
	    height: 11.125rem;
	    margin: 1.125rem 0 0 0.625rem;
	}
	.frameeight img{
		transform: rotate(-11deg);
    	width: 83%;
		margin: 2.3125rem 0 0 1rem;
	}
	.tra {
	    width: 3.1875rem;
	    position: absolute;
	    left: 12.25rem;
    	top: 1.125rem;
	}
	.textten,.text10 {
	    width: 10.6875rem;
	    margin: 4.0625rem 0 0 22px;
	}
	.Stars3 {
	    width: 2rem;
	}
	.texteleven,.text11 {
	    width: 12rem;
    	margin: 2.625rem 0 0 1.5rem;
	}
	.car {
	    width: 4rem;
	    position: absolute;
	    left: 1.3125rem;
    	top: 10rem;
	}
	.marchten {
	    height: 21.375rem;
	    margin: -0.625rem 0 0 -5.9375rem;
	    position: relative;
	    left: 12.5rem;
	}
	.marchten img{
		height: 100%;
	}


	/*   page5   */
	.page5-upper,.page5-center,.page5-lower{
		display: flex;
		position: relative;
	}
	.page5-upper:nth-child(1){
		width: 50%;
	}
	.page5-upper:nth-child(2){
		width: 50%;
	}
	.page5-center:nth-child(1){
		width: 50%;
	}
	.page5-center:nth-child(2){
		width: 50%;
	}
	.page5-lower:nth-child(1){
		width: 50%;
	}
	.page5-lower:nth-child(2){
		width: 50%;
	}
	.Bird5 {
	    width: 3.25rem;
	    position: absolute;
	    top: 1.6875rem;
	    left: 3.75rem;
	}
	.camera {
	    width: 5.8125rem;
	    position: absolute;
	    left: 17.125rem;
	    top: 1.875rem;
	}
	.Twelve{
		width: 2.4375rem;
	}
	.marchTwelve {
	    width: 18.4375rem;
	    margin: -1.6875rem 0 0 -1.75rem;
	    position: relative;
	}
	.marchTwelve img{
		width: 100%;
		position: relative;
    	left: 14.9rem;
	}
	.textfourteen,.text14 {
	    width: 10.0625rem;
	    margin: 1.9375rem 0 0 -4.375rem;
	}
	.book {
	    width: 15.625rem;
	    position: absolute;
	    left: 0rem;
    	top: 8rem;
    	transform: rotate(16deg);
	}
	.framenine,.frame9 {
        width: 12.1875rem;
	    height: 10.3125rem;
	    margin: 3.4375rem 0 0 0.8125rem;
	}
	.framenine img{
		transform: rotate(-10deg);
		width: 78%;
    	margin: 2.125rem 0 0 1.3rem;
	}
	.frame10,.frameten{
		transform: rotate(19deg);
	    width: 13.5rem;
	    height: 12.4375rem;
	    margin: 4.125rem 0 0 0.4375rem;
	}
	.frameten img {
	    width: 82%;
    	margin: 2.6875rem 0 0 1.25rem;
	    transform: rotate(-10deg);
	}
	.text12,.texttwelve{
        width: 11.8125rem;
    	margin: 6.5rem 0 0 1rem;
	}
	.text13,.textthirteen {
    	width: 12rem;
    	margin: 6.2rem 0 0 1.625rem;
	}
	.balloon4 {
	    width: 2.8rem;
	    height: 3.5rem;
	    position: absolute;
	    left: 8rem;
	    transform: rotate(-32deg);
	}
	/*页面布局以上*/

/*媒体查询以下*/
/*320 */
@media screen and (min-width:320px) and (max-width:359px){		
	html {
		font-size: 12px;	
	}

	.Stars2 {
	    width: 2.125rem;
	    position: absolute;
	    left: 22.5rem;
	    top: 15rem;
	}
	.texteight, .text8 {
	    width: 10.9375rem;
	    margin: 7.125rem 0 0 -1rem;
	}
	.marcheight {
	    width: 23rem;
	    margin: -0.25rem 0 0 -7.8125rem;
	}
	.cloud4 {
	    left: 12.3125rem;
	}
	.text13, .textthirteen {
	    width: 12rem;
	    margin: 6.2rem 0 0 0.4rem;
	}
	.textfourteen, .text14 {
	    margin: 1.9375rem 0 0 3rem;
	}
	.marchTwelve {
	    margin: -0.4rem 0 0 1rem;
	}
	.marchTwelve img {
	    width: 100%;
	    position: relative;
	    /*left: 34.9rem;*/
	}
	.book {
	    width: 13rem;
	    left: 0.5625rem;
	    top: 95px;
	}
	.marchten {
	    margin: -1.625rem 0 0 -5.9375rem;
	}
	.car {
	    top: 10rem;
	}
	.texteleven, .text11 {
	    margin: 1.625rem 0 0 1.5rem;
	}
}

/*360&&375 */
@media screen and (min-width:360px) and (max-width:390px){		
	html {
		font-size: 14px;
	}

	.cloud4 {
	    /*width: 3.2rem;*/
	    /*position: absolute;*/
	    left: 9.3125rem;
	    top: 2.125rem;
	}
	.marchbaby img {
	    /*width: 95%;*/
	    /*position: relative;*/
	    /*left: -14.625rem;*/
	    top: 3px;
	}
	.marcheight {
	    /*position: relative;*/
	    /*width: 18.5rem;*/
	    margin: -1.25rem 0 0 -4.8125rem;
	}
	.texteight, .text8 {
	    /*width: 10.9375rem;*/
	    margin: 3.125rem 0 0 -1rem;
	}
	.Stars2 {
	    /*width: 2.125rem;*/
	    /*position: absolute;*/
	    left: 21rem;
	    top: 10.1875rem;
	}
	.marchTwelve {
	    width: 18rem;
	    margin: -0.6875rem 0 0 -1rem;
	    /*position: relative;*/
	}
	.textfourteen, .text14 {
	    /*width: 10.0625rem;*/
	    margin: 0.9375rem 0 0 1.625rem;
	}
	.texteleven, .text11 {
	    /*width: 12rem;*/
	    margin: 0.625rem 0 0 1.5rem;
	}
	.framethree img {
	    margin: 1.4625rem 0 0 -0.15rem;
	}
	.text13, .textthirteen {
	    width: 12rem;
	    margin: 5.2rem 0 0 -0.375rem;
	}
	.car {
	    /*width: 4rem;*/
	    /*position: absolute;*/
	    /*left: 1.3125rem;*/
	    top: 8rem;
	}
	.book {
	    width: 15.625rem;
	    position: absolute;
	    left: -1rem;
	    top: 7rem;
	    transform: rotate(16deg);
	}
	.marchten {
	    /*height: 21.375rem;*/
	    margin: -2.625rem 0 0 -5.9375rem;
	    /*position: relative;*/
	    /*left: 12.5rem;*/
	}
}


/*412  动画前+动画后*/
@media screen and (min-width:391px) and (max-width:412px) {
	html {
		font-size: 14px;
	}

	/*page1*/
	.Lballoon {
	    left: 7.5rem;
	    top: 1.3rem;
	}
	.frameone, .frame1 {
	    margin: 21% 0 0 13%;
	}
	.textone, .text1 {
	    padding-top: 5.995rem;
	    padding-left: 33px;
	}
	.stars {
	    left: 22.5rem;
    	top: 5px; 
	}
	.textthree, .text3 {
	    margin: 3rem 0 0 22px;
	}
	.frametwo, .frame2 {
	    margin: 1rem 0 0 1.5rem;
	}
	.marchbaby {
	    left: 15px;
	}
	.marchbaby img {
	    /*width: 95%;*/
	    /*position: relative;*/
	    /*left: -14.625rem;*/
	    top: 10px;
	}
	.balloon {
	    left: 12.25rem;
	}
	.cloud {
	    margin: 6.875rem 0 0 2.625rem;
	}
	.Map {
	    margin: 1.2rem 0 0 6.4375rem;
	}

	/*page2*/
	.Bird {
	    left: 3.0625rem;
	}
	.text4, .textfour {
	    left: 8.25rem;
	}
	.aircraft {
	    left: 18.875rem;
	    top: 1.8rem;
	}
	.cloud2 {
	    top: 11.6875rem;
	    left: 21.9375rem;
	}
	.textfive, .text5 {
	    margin: 13.8125rem 0 0 2.6875rem;
	}
	.framethree, .frame3 {
	    margin: 12.375rem 0 0 2rem;
	}
	.framefour, .frame4 {
	    margin: 1.4375rem 0 0 1.875rem;
	}
	.marchthree {
	    margin: 2.9375rem 0 0 1rem;
	}
	.glasses {
	    left: 10.25rem;
	    top: 12rem;
	}

	/*page3*/
	.Bird2 {
	    top: 2.625rem;
	    left: 5.3125rem;
	}
	.framefive, .frame5 {
	    margin: 4.375rem 0 0 2rem;
	}
	.cloud3 {
	    top: 4.5625rem;
	    right: -3.375rem;
	}
	.Bird3 {
	    left: 24rem;
	    top: 3.5rem;
	}
	.textsix, .text6 {
	    margin: 9.625rem 0 0 0.8125rem;
	}
	.textseven, .text7 {
	    margin: 1.625rem 0 0 1.9rem;
	}
	.balloon3 {
	    top: -0.625rem;
	    left: 22.6875rem;
	}
	.framesix, .frame6 {
	    transform: rotate(22deg);
	    width: 13.9375rem;
	    height: 12.5rem;
	    margin: 16px 0 0 0.875rem;
	}
	.cloud4 {
	    left: 11.3125rem;
	    top: 1.125rem;
	}
	.marcheight {
		width: 21.5rem;
	    margin: -2.25rem 0 0 -4.8125rem;
	}
	.texteight, .text8 {
	    margin: 3.125rem 0 0 -1rem;
	}
	.Stars2 {
	    left: 24rem;
    	top: 10.3rem;
	}


	/*page4*/
	.Bicycle {
	    top: 2.375rem;
	    left: 3.5rem;
	}
	.textnine, .text9 {
	    margin: 6.9375rem 0 0 27px;
	}
	.Bird4 {
	    left: 19.5rem;
	    top: 3rem;
	}
	.frameseven, .frame7 {
	    margin: 4.0625rem 0 0 1rem;
	}
	.frameeight, .frame8 {
	    width: 12.3125rem;
	    height: 11.125rem;
	    margin: 1.125rem 0 0 1.625rem;
	}
	.texteleven, .text11 {
	    margin: 1.625rem 0 0 2.5rem;
	}
	.textten, .text10 {
	    margin: 4.0625rem 0 0 15px;
	}
	.car {
	    left: 2.3125rem;
	    top: 9rem;
	}
	.marchten {
	    margin: -2.625rem 0 0 -3.9375rem;
	}


	/*page5*/
	.Bird5 {
	    top: 2.6875rem;
	    left: 4.75rem;
	}
	.framenine, .frame9 {
	    margin: 4.4375rem 0 0 1.8125rem;
	}
	.camera {
	    left: 18.125rem;
	    top: 1.875rem;
	}
	.text12, .texttwelve {
	    margin: 6.5rem 0 0 1.375rem;
	}
	.balloon4 {
	    left: 8rem;
	    top: 10px;
	}
	.text13, .textthirteen {
	    margin: 5.9375rem 0 0 1.625rem;
	}
	.frame10, .frameten {
	    margin: 4.125rem 0 0 1.4375rem;
	}
	.marchTwelve {
	    margin: -0.6875rem 0 0 1.1rem;
	}
	.textfourteen, .text14 {
	    margin: 1.9375rem 0 0 2.625rem;
	}
	.book {
	    left: 1.5625rem;
    	top: 6.375rem;
	}
	.tra {
	    width: 4rem;
	    left: 13.25rem;
	}
}

/*414-767  动画前+动画后*/
@media screen and (min-width:413px) and (max-width:417px) {
	html {
		font-size: 15px;
	}
	.cloud4 {
	    left: 12.3125rem;
    	top: 2.125rem;
	}
	.texteight, .text8 {
	    margin: 5.125rem 0 0 -4rem;
	}
	.Stars2 {
	    left: 22.5rem;
    	top: 12.1875rem;
	}
	.marcheight {
	    width: 22.5rem;
	    margin: -2.25rem 0 0 -3.8125rem;
	}
	.marchten {
	    height: 23.375rem;
	    margin: -1.625rem 0 0 -5.9375rem;
	}
	.marchTwelve {
	    width: 19.4375rem;
	    margin: 0rem 0 0 -1.75rem;
	}
	.textfourteen, .text14 {
	    margin: 2.1rem 0 0 2.625rem;
	}
	
}	

@media screen and (min-width:418px) and (max-width:767px){
	
	html {
		font-size: 19px;
	}
	.page1-upper,.page1-center,.page1-lower,.page2-upper,.page2-center,.page2-lower,.page3-upper,.page3-center,.page3-lower,.page4-upper,.page4-center,.page4-lower,.page5-upper,.page5-center,.page5-lower{
			/*justify-content: flex-end;*/
			margin: 0 auto;
		}
		.page1-lower{
			margin: 0 0 0 7.75rem;
		}
		.page2-lower,.page2-upper{
			margin: 0 0 0 6.75rem;
		}
		.page3-lower{
			margin: 0 0 0 9.75rem;
		}
		.page3-upper,.page4-lower{
			margin: 0 0 0 6.75rem;
		}
		.page4-upper{
			margin: 0 0 0 6.75rem;
		}
		.page4-center{
			margin: 0 0 0 6.75rem;
		}
		.page5-lower{
			margin: 0 0 0 9.75rem;
		}
		.page5-center,.page5-upper{
			margin: 0 0 0 6.75rem;
		}
		.cloud4 {
		    left: 7.6rem;
		    top: 5.125rem;
		}
		.texteight, .text8 {
		    margin: 6.125rem 0 0 -5rem;
		}
		.Stars2 {
		    left: 19.5rem;
		    top: 14.1875rem;
		}
		.cloud3 {
		    right: 2.625rem;
		}
		.textsix, .text6 {
		    margin: 8rem 0 0 0.8125rem;
		}
		.textfourteen, .text14 {
		    /*width: 10.0625rem;*/
		    margin: 1.9375rem 0 0 -1.375rem;
		}
		.book {
		    left: -4rem;
		}
		.marchTwelve {
		    margin: 0.3125rem 0 0 -4.75rem;
		}
}

/*769-992ipad   动画前+动画后*/
@media screen and (min-width:768px) and (max-width:1024px){
	 
		html {
			font-size: 20px;
		}
	
	 /*页面居中*/
		.page1-upper,.page1-center,.page1-lower,.page2-upper,.page2-center,.page2-lower,.page3-upper,.page3-center,.page3-lower,.page4-upper,.page4-center,.page4-lower,.page5-upper,.page5-center,.page5-lower{
			/*justify-content: flex-end;*/
			margin: 0 auto;
		}
		.page1-lower{
			margin: 0 0 0 10.75rem;
		}
		.page2-lower,.page2-upper{
			margin: 0 0 0 6.75rem;
		}
		.page3-lower{
			margin: 0 0 0 9.75rem;
		}
		.page3-upper,.page4-lower{
			margin: 0 0 0 6.75rem;
		}
		.page4-upper{
			margin: 0 0 0 6.75rem;
		}
		.page4-center{
			margin: 0 0 0 6.75rem;
		}
		.page5-lower{
			margin: 0 0 0 9.75rem;
		}
		.page5-center,.page5-upper{
			margin: 0 0 0 6.75rem;
		}
		.cloud4 {
		    left: 6.6rem;
		    top: 5.125rem;
		}
		.texteight, .text8 {
		    margin: 6.125rem 0 0 -5rem;
		}
		.Stars2 {
		    left: 19.5rem;
		    top: 14.1875rem;
		}
		.cloud3 {
		    right: 2.625rem;
		}
		.textsix, .text6 {
		    margin: 8rem 0 0 0.8125rem;
		}
		.textfourteen, .text14 {
		    /*width: 10.0625rem;*/
		    margin: 1.9375rem 0 0 -1.375rem;
		}
		.book {
		    left: -4rem;
		}
		.marchTwelve {
		    margin: 0.3125rem 0 0 -4.75rem;
		}
		
}
/*媒体查询以上*/

