.animation-one .yan-one img{
	margin: -100px 0 0 10%;
}
.animation-one .yun-one img{
	margin: 2% 0 0 40%;
	animation: yun 0.8s 1 linear;
}
.yun-two{
	margin: 0 0 0 60%;
	display: flex;
}
.animation-one .yun-two .yun img{
	animation: yun 0.8s 1 linear;
}
.animation-one .yun-three img{
	margin: 0 0 0 5%;
	animation: yun 0.8s 1 linear;
}
@keyframes yun{
	0%{transform:scale(0.2);opacity: 0.5;}
	50%{opacity: 0.7;transform:scale(1) rotate(360deg);}
	100%{transform:scale(1) rotate(360deg);opacity: 1;}
}
.animation-two .time{
	margin: 5% 0 0 10%;
}
.animation-two .time img{
	width: 240px;
	animation: chin 0.8s 1 linear;
}
.animation-two .age{
	margin: 5% 0 0 30%;
}
.animation-two .age img{
	width: 215px;
	animation: china 1s 1 linear;
}
@keyframes chin{
	0%{transform:translate(-100%);}
	50%{transform:translate(-50%);}
	100%{transform:translate(0px);}
}
@keyframes china{
	0%{transform:translate(100%);}
	50%{transform:translate(50%);}
	100%{transform:translate(0px);}
}
.animation-three .qiu-one{
	margin: 30px 0 0 10%;
	display: inline-block;
}
.animation-three .qiu-two{
	margin: 0 0 0 40%;
	display: inline-block;
}
.animation-three .qiu-two img{
	animation: qiu 1s 1 linear;
}
.animation-three .qiu-one img{
	animation: qiu 1s 1 linear;
}
@keyframes qiu{
	0%{transform:scale(0.2);}
	50%{transform:scale(1) rotate(360deg);}
	100%{transform:scale(1) rotate(360deg);}
}
.animation-three .pao{
	margin: 0 0 0 60%;
	animation: pao 1s 1 linear;
}
.animation-three .pao img{
	width: 167px;
}
@keyframes pao{
	0%{transform:scale(0.2);}
	50%{transform:scale(1) rotate(360deg);}
	100%{transform:scale(1) rotate(360deg);}
}
.lists img{
	width: 400px;
	margin: 180px auto 0 auto;
	opacity: 0;
}
.list img{
	width: 400px;
	margin: 20% auto 0 auto;
	animation: qiu 1s 1 linear;
}
.pays img{
	margin: 0 0 0 10%;
	width: 150px;
	opacity: 0;
}
.pay img{
	margin: 0 0 0 10%;
	width: 150px;
	animation: pay 6s ease 0s infinite normal; /*名字 总时间 频率 开始时间 次数*/;
}
@keyframes pay {
	0% {
		transform: translateY(0px);
	}
	2% {
		transform: translateY(-7px);
	}
	6% {
		transform: translateY(7px);
	}
	8% {
		transform: translateY(0px);
	}
	10% {
		transform: translateY(-5px);
	}
	12% {
		transform: translateY(5px);
	}
	16% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(0px);
	}
	52% {
		transform: translateY(-7px);
	}
	56% {
		transform: translateY(7px);
	}
	58% {
		transform: translateY(0px);
	}
	60% {
		transform: translateY(-5px);
	}
	62% {
		transform: translateY(5px);
	}
	66% {
		transform: translateY(0px);
	}
	100% {
		transform: translateY(0px);
	}
}
.thinks img{
	width: 180px;
	margin: 0 0 0 55%;
	opacity: 0;
}
.think img{
	width: 180px;
	margin: 0 0 0 55%;
	animation: qiu 1.5s 1 linear;
}
.page8 .title img{
	width: 120px;
    margin: 12px 0% 0 35%;
}
.background{
	position: relative;
}
.background .back{
	width: 290px;
    margin: 0px 0 0 9%;
}
.gift{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    left: 0px;
	position: absolute;
	top: 20px;
	left: 0;
}
.gift-two{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    left: 0px;
	position: absolute;
	top: 20px;
	left: 30px;
}
figure{
    width: 100px;
    margin: 6px 10px;
    border: 1px solid rgb(255,246,231);
    border-radius: 5px;
    text-align: center;
}
.gift figure img{
	width: 65%;
}
.gift-two figure img{
	width: 65%;
}
figure figcaption{
	font-size: 15px;
	color: #ef3297;
}
.give{
    position: absolute;
    top: 80%;
    left: 32%;
}
.give2{
    position: absolute;
    top: 80%;
    left: 32%;
}
.give img{
	width: 100px;
    margin: 15px 10px;
    text-align: center;
}
.give2 img{
	width: 100px;
    margin: 15px 10px;
    text-align: center;
}
@media screen and (max-width:360px){ 
	.animation-one .yan-one img{
		width: 55px;
	}
	.animation-one .yun-one img{
		width: 55px;
	}
	.animation-one .yun-two .yun img{
		width: 55px;
	}
	.animation-one .yun-three img{
		width: 55px;
	}
	.animation-two .time img{
		width: 200px;
	}
	.animation-two .age img{
		width: 185px;
	}
	.animation-three .qiu-one img{
		width: 50px;
	}
	.animation-three .qiu-two img{
		width: 30px;
	}
	.animation-three .pao img{
		width: 130px;
	}
	.lists img{
		width: 363px;
	}
	.list img{
		width: 363px;
	}
	.pays img{
		width: 100px;
	}
	.pay img{
		width: 100px;
	}
	.thinks img{
		width: 130px;
	}
	.think img{
		width: 130px;
	}
	#ewmsrc{
		width: 264px;
		margin: 0 0 0 20px;
	}
	.close1{
	    height: 66px;
    	width: 336px;
    	margin: 43px 0 0 0;
	}
} 
@media screen and (min-width:320px) and (max-width:360px){
	#ewmsrc {
	    margin: -27px 0 0 -16px;
	}
	.animation-one .yan-one img{
		width: 40px;
	}
	.animation-one .yun-one img{
		width: 45px;
	}
	.animation-one .yun-two .yun img{
		width: 40px;
	}
	.animation-one .yun-three img{
		width: 40px;
	}
	.animation-two .time img{
		width: 200px;
	}
	.animation-two .age img{
		width: 185px;
	}
	.animation-three .qiu-one img{
		width: 35px;
	}
	.animation-three .qiu-two img{
		width: 30px;
	}
	.animation-three .pao img{
		width: 130px;
	}
	.lists img{
		width: 320px;
	}
	.list img{
		width: 320px;
	}
	.pays img{
		width: 80px;
		margin: -20px 0 0 0;
	}
	.pay img{
		width: 80px;
		margin: -20px 0 0 0;
	}
	.thinks img{
	    width: 145px;
        margin: -37px 0 0 52%;
	}
	.think img{
		width: 145px;
	    margin: -37px 0 0 52%;
	}
	#ewmsrc{
		width: 250px;
		
	}
	.close1{
	    height: 25px;
    	width: 336px;
    	margin: 43px 0 0 0;
	}
	#closebt img {
    	width: 25px;
	}
	.background .back{
	    width: 268px;
    	margin: -36px 0 0 12%;
	}
	.gift{
		top: -24px;
    	left: 36px;
    	width: 228px;
	}
	.gift figure{
		width: 90px;
		/*margin: 5px 10px;*/
	}
	.gift-two{
	    top: -30px;
    	left: 38px;
    	width: 280px;
	}
	.gift-two figure{
		width: 85px;
	}
	figure figcaption{
		font-size: 10px;
	}
	figure img{
		width: 75px;
	}
	.give img{
	    margin: -6px 10px;
        width: 78px;
	}
	.give2 img{
	    margin: -6px 10px;
        width: 78px;
	}
	.give{
	    position: absolute;
        top: 87%;
    	left: 39%;
	}
	.give2{
	    position: absolute;
	    top: 87%;
    	left: 50%;
	}
}
@media screen and (min-width:360px) and (max-width:375px){
	#ewmsrc {
	    margin: -29px 0 0 20px;
	}
	.lists img{
		width: 350px;
	}
	.list img{
		width: 350px;
	}
	#ewmsrc{
		width: 250px;
	}
	.background .back {
	    width: 310px;
	    margin: 0px 0 0 -2%;
	}
	.gift-two{
		top: 3%;
    	left: 2%;
    	width: 318px;
	}
	.gift-two img{
		width: 100px;
	}
	.gift-two figure{
		/*margin: 10px 10px;*/
	}
	.give img{
		width: 100px;
		margin: 6px 10px;
	}
	.give2 img{
		width: 100px;
		margin: 6px 10px;
	}
	.give{
		margin: 0;
	}
	.gift{
		left: 12px;
    	width: 250px;
    	top: 22px;
	}
	.gift figure{
		width: 93px;
	}
	.gift-two{
	    top: 5%;
	}
	.gift-two figure {
   	 	/*margin: 17px 10px;*/
   	 	width: 96px;
	}
	.give{
	    position: absolute;
        top: 76%;
    	left: 29%;
	}
	.give2{
	    position: absolute;
        top: 81%;
    	left: 40%;
	}
}
@media screen and (min-width:375px) and (max-width:412px){  
	#ewmsrc {
	    margin: -29px 0 0 20px;
	}
    .animation-one .yan-one img{
		width: 70px;
	}
	.animation-one .yun-one img{
		width: 70px;
	}
	.animation-one .yun-two .yun img{
		width: 70px;
	}
	.animation-one .yun-three img{
		width: 55px;
	}
	.animation-two .time img{
		width: 200px;
	}
	.animation-two .age img{
		width: 185px;
	}
	.animation-three .qiu-one img{
		width: 50px;
	}
	.animation-three .qiu-two img{
		width: 30px;
	}
	.animation-three .pao img{
		width: 140px;
	}
	.lists img{
		width: 375px;
	}
	.list img{
		width: 375px;
	}
	.pays img{
		width: 100px;
	    margin: -14px 0 0 10%;
	}
	.pay img{
		width: 100px;
	    margin: -14px 0 0 10%;
	}
	.thinks img{
		width: 130px;
	}
	.think img{
		width: 130px;
	}
	#ewmsrc{
		width: 264px;
		margin: -30px 0 0 35px;
	}
	.close1{
	    height: 66px;
    	width: 336px;
    	margin: 43px 0 0 0;
	}
	.background .back{
       	margin: 0px 0 0 -9%;
    	width: 330px;
	}
	.gift-two{
		top: 4%;
		left: 7%;
		width: 267px;
	}	
	.give{
	    position: absolute;
	    top: 80%;
        left: 26%;
	}
	.give2{
	    position: absolute;
	    top: 80%;
        left: 34%;
	}
}
@media screen and (min-width:412px) and (max-width:736px){  
	#ewmsrc {
	   margin: -30px 0 0 45px;
	}
	.animation-three .qiu-one img{
		width: 50px;
	}
	.lists img{
		width: 410px;
	}
	.list img{
		width: 410px;
	}
	.pays img{
		width: 100px;
	    margin: -26px 0 0 10%;
	}
	.pay img{
        margin: -26px 0 0 10%;
		width: 100px;
	}
	.thinks img{
		width: 140px;
	    margin: -40px 0 0 49%;
	}
	.think img{
		width: 170px;
	    margin: -40px 0 0 49%;
	}
	#ewmsrc{
		width: 264px;
		
	}
	.close1{
	    height: 66px;
    	width: 336px;
    	margin: 43px 0 0 0;
	}
	.background .back{
	    width: 350px;
    	margin: 0px 0 0 -12%;
	}
	.gift{
		top: 36px;
	}
	.gift figure{
		width: 110px;
	}
	.gift-two figure{
		width: 110px;
	}
	.gift-two{
	    top: 7%;
    	left: 2%;
    	width: 312px;
	}
	.gift-two img{
		width: 110px;
	}
	.give{
		left: 27%;
	}
	.give2{
	    position: absolute;
	    top: 80%;
    	left: 38%;
	}
	.give img{
		width: 100px;
	}
	.give2 img{
		width: 100px;
	}
}
@media screen and (min-width:414px) and (max-width:736px){
	#ewmsrc {
	    margin: -29px 0 0 48px;
	}
	.background .back{
	    width: 352px;
    	margin: 0px 0 0 -13%;
	}
}
@media screen and (min-width:768px) and (max-width:1024px){
	#ewmsrc {
	    margin: -29px 0 0 20px;
	}
	.animation-three .qiu-one img{
		width: 100px;
	}
	.animation-three .qiu-two img{
		width: 80px;
	}
	.animation-one .yan-one img{
		width: 115px;
	}
	.animation-one .yun-one img{
		width: 115px;
	}
	.animation-one .yun-two .yun img{
		width: 115px;
	}
	.animation-two .time img{
		width: 400px;
	}
	.animation-two .age img{
		width: 400px;
	}
	.animation-three .pao img{
		width: 300px;
	}
	.lists img{
		width: 777px;
	}
	.list img{
		width: 777px;
	}
	.thinks img{
		width: 145px;
	}
	.think img{
		width: 145px;
	}
	.background .back {
    	width: 550px;
    	margin: 1px 0 0 13%;
	}
}