.top p{
	margin: -15px 0 0 71px !important;
}
.animation-one .yan-one img{
	margin: -100px 0 0 10%;
}
.animation-one .yun-one img{
	margin: 2% 0 0 40%;
	animation: yun 0.8s 1 linear;
}
.yun-two{
	margin: 0 0 0 60%;
	display: flex;
}
.animation-one .yun-two .yun img{
	animation: yun 0.8s 1 linear;
}
.animation-one .yun-three img{
	margin: 0 0 0 5%;
	animation: yun 0.8s 1 linear;
}
@keyframes yun{
	0%{transform:scale(0.2);opacity: 0.5;}
	50%{opacity: 0.7;transform:scale(1) rotate(360deg);}
	100%{transform:scale(1) rotate(360deg);opacity: 1;}
}
.animation-two .time{
	margin: 5% 0 0 10%;
}
.animation-two .time img{
	width: 240px;
	animation: chin 0.8s 1 linear;
}
.animation-two .age{
	margin: 5% 0 0 30%;
}
.animation-two .age img{
	width: 215px;
	animation: china 1s 1 linear;
}
@keyframes chin{
	0%{transform:translate(-100%);}
	50%{transform:translate(-50%);}
	100%{transform:translate(0px);}
}
@keyframes china{
	0%{transform:translate(100%);}
	50%{transform:translate(50%);}
	100%{transform:translate(0px);}
}
.animation-three .qiu-one{
	margin: 30px 0 0 10%;
	display: inline-block;
}
.animation-three .qiu-two{
	margin: 0 0 0 40%;
	display: inline-block;
}
.animation-three .qiu-two img{
	animation: qiu 1s 1 linear;
}
.animation-three .qiu-one img{
	animation: qiu 1s 1 linear;
}
@keyframes qiu{
	0%{transform:scale(0.2);}
	50%{transform:scale(1) rotate(360deg);}
	100%{transform:scale(1) rotate(360deg);}
}
.animation-three .pao{
	margin: 0 0 0 60%;
	animation: pao 1s 1 linear;
}
.animation-three .pao img{
	width: 167px;
}
@keyframes pao{
	0%{transform:scale(0.2);}
	50%{transform:scale(1) rotate(360deg);}
	100%{transform:scale(1) rotate(360deg);}
}
.lists img{
	width: 400px;
	margin: 180px auto 0 auto;
	opacity: 0;
}
.list{
	position: relative;
}
.mores{
    position: absolute;
    top: 60.5%;
    right: 25%;
    opacity: 0;
}
.more{
	transition: 3s;
    position: absolute;
   	top: 60.5%;
    right: 25%;
    opacity: 1;
}
.mores img{
	width: 200px !important; 
	cursor: pointer;
}
.more img{
    width: 200px !important; 
    cursor: pointer;
}
.list img{
	width: 400px;
	margin: 20% auto 0 auto;
	animation: qiu 1s 1 linear;
}
#closebt{
	cursor: pointer;
}
.pays img{
	margin: 0 0 0 10%;
	width: 150px;
	cursor: pointer;
	opacity: 0;
}
.pay img{
	position: relative;
	cursor: pointer;
	margin: 0 0 0 10%;
	cursor: pointer;
	width: 150px;
	animation: pay 6s ease 0s infinite normal; /*名字 总时间 频率 开始时间 次数*/;
}
@keyframes pay {
	0% {
		transform: translateY(0px);
	}
	2% {
		transform: translateY(-7px);
	}
	6% {
		transform: translateY(7px);
	}
	8% {
		transform: translateY(0px);
	}
	10% {
		transform: translateY(-5px);
	}
	12% {
		transform: translateY(5px);
	}
	16% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(0px);
	}
	52% {
		transform: translateY(-7px);
	}
	56% {
		transform: translateY(7px);
	}
	58% {
		transform: translateY(0px);
	}
	60% {
		transform: translateY(-5px);
	}
	62% {
		transform: translateY(5px);
	}
	66% {
		transform: translateY(0px);
	}
	100% {
		transform: translateY(0px);
	}
}
.thinks img{
	width: 180px;
	margin: 0 0 0 55%;
	opacity: 0;
}
.think img{
	width: 180px;
	margin: 0 0 0 55%;
	animation: qiu 1.5s 1 linear;
}
.page8 .title img{
	width: 120px;
    margin: 12px 0% 0 35%;
}
.background{
	position: relative;
}
.background .back{
	width: 290px;
    margin: 0px 0 0 9%;
}
.gift{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    left: 0px;
	position: absolute;
	cursor: pointer;
	top: 20px;
	left: 0;
}
figure{
    width: 100px;
    margin: 6px 10px;
    border: 1px solid rgb(255,246,231);
    border-radius: 5px;
    text-align: center;
}
.gift figure img{
	width: 65%;
}
.gift-two figure img{
	width: 65%;
}
figure figcaption{
	font-size: 15px;
	color: #ef3297;
}
.give{
    position: absolute;
    top: 80%;
    left: 32%;
}
.give img{
	width: 100px;
    margin: 15px 10px;
    cursor: pointer;
    text-align: center;
}
/*感谢页面*/
.student{
	display: none;
	position: absolute;	
	top: 0;
	background: url(../img/stu.png) no-repeat center center;
	background-size: 100% 100%;
	width: 100%;
	height: 640px;
	overflow: hidden;
}
.return{
	position: absolute;
    top: 507px;
	left: 9px;
}
.return img{
    width: 72px; 
    cursor: pointer;   
}
.share{
	position: absolute;
    top: 490px;
	right: 9px;
}
.share img{
    width: 72px; 
    cursor: pointer;   
}
.happy{
	position: absolute;
	top: 0;
	left: 5px;
}
.happy img{
	width: 337px;
}
.bai{
	position: absolute;
	top: 95px;
	right: 50px;
}
.bai img{
	width: 250px;
}
.stu{
	position: absolute;
	top: 321px;
	right: 66px;
}
.stu img{
	width: 220px;
}
@media screen and (min-width:320px) and (max-width:359px){		
	.return {
	    top: 477px;
	    left: 16px;
	}
	.share {
	    top: 454px;
        right: -13px;
	}
	.bai img {
	    width: 200px;
	}
	.bai {
	    right: 32px;
	}
	.stu {
	    right: 30px;
	}
}
@media screen and (min-width:360px) and (max-width:374px){
}
@media screen and (min-width:375px) and (max-width:411px){	
	.bai {
	    right: 58px;
	}
	.stu {
	    top: 349px;
	    right: 76px;
	}
}
@media screen and (min-width:412px) and (max-width:413px){	
	.happy {
	    left: 34px;
	}
	.bai {
	    right: 76px;
	}
	.stu {
	    top: 339px;
	    right: 87px;
	}
}
@media screen and (min-width:414px) and (max-width:500px){	
	.return {
	    top: 599px;
	    left: 36px;
	}
	.share {
	    top: 579px;
	    right: 24px;
	}
	.happy {
	    left: 36px;
	}
	.bai {
	    right: 72px;
	    top: 127px;
	}
	.stu {
	    top: 416px;
	    right: 83px;
	}
}

/*//*/
@media screen and (max-width:320px){
	.top p {
	    margin: -34px 0 0 71px !important;
	    z-index: 100;
	}
	.mores {
        top: 62%;
    	right: 20%;
	}
	.more {
        top: 62%;
    	right: 20%;
	}
	.background .back {
	    width: 290px;
	    margin: 0px 0 0 -5%;
	}
	.list img{
		width: 363px;
	    margin: 13% auto 0 -20px;
	}
	.pays img{
		width: 100px;
	    margin: -23px 0 0 10%;
	}
	.pay img{
		width: 100px;
	    margin: -23px 0 0 10%;
	}
}
@media screen and (max-width:360px){ 
	.animation-one .yan-one img{
		width: 55px;
	}
	.animation-one .yun-one img{
		width: 55px;
	}
	.animation-one .yun-two .yun img{
		width: 55px;
	}
	.animation-one .yun-three img{
		width: 55px;
	}
	.animation-two .time img{
		width: 200px;
	}
	.animation-two .age img{
		width: 185px;
	}
	.animation-three .qiu-one img{
		width: 50px;
	}
	.animation-three .qiu-two img{
		width: 30px;
	}
	.animation-three .pao img{
		width: 130px;
	}
	.lists img{
		width: 363px;
	 	margin: 13% auto 0 -20px;
	}
	.list img{
		width: 363px;
	}
	.pays img{
		width: 100px;
	}
	.pay img{
		width: 100px;
	}
	.thinks img{
		width: 130px;
	}
	.think img{
		width: 130px;
	}
	#ewmsrc{
		width: 264px;
		margin: 0 0 0 20px;
	}
	.close1{
	    height: 66px;
    	width: 336px;
    	cursor: pointer;
    	margin: 43px 0 0 0;
	}
	.gift{
		left: 12px;
    	width: 246px;
    	top: 23px;
	}
	.give {
		left: 27%;
	}
} 
@media screen and (min-width:321px) and (max-width:360px){
	#ewmsrc {
	    margin: 20px 0 0 -16px;
	}
	.animation-one .yan-one img{
		width: 40px;
	}
	.animation-one .yun-one img{
		width: 45px;
	}
	.animation-one .yun-two .yun img{
		width: 40px;
	}
	.animation-one .yun-three img{
		width: 40px;
	}
	.animation-two .time img{
		width: 200px;
	}
	.animation-two .age img{
		width: 185px;
	}
	.animation-three .qiu-one img{
		width: 35px;
	}
	.animation-three .qiu-two img{
		width: 30px;
	}

	.animation-three .pao {
	    margin: 0 0 0 45%;
	}
	.animation-three .pao img{
		width: 180px;
	}
	.lists img{
		width: 320px;
	}
	.list img{
		width: 320px;
	}
	.pays img{
		width: 80px;
		margin: -20px 0 0 0;
	}
	.pay img{
		width: 80px;
		margin: -20px 0 0 0;
	}
	.thinks img{
	    width: 145px;
        margin: -37px 0 0 52%;
	}
	.think img{
		width: 145px;
	    margin: -37px 0 0 52%;
	}
	#ewmsrc{
		width: 250px;
		
	}
	.close1{
	    height: 25px;
    	width: 336px;
    	margin: 67px 0 0 -38px;
	}
	#closebt img {
    	width: 25px;
	}
	.background .back{
	    width: 268px;
    	margin: -66px 0 0 12%;
	}
	.gift{
    	width: 265px;
    	left: 36px;
    	top: -28px;
	}
	.gift figure{
		width: 90px;
	}
	figure figcaption{
		font-size: 10px;
	}
	figure img{
		width: 75px;
	}
	.give img{
	    margin: -6px 10px;
        width: 78px;
	}
	.give{
	    position: absolute;
        top: 87%;
    	left: 39%;
	}
}
@media screen and (min-width:360px) and (max-width:374px){
	.banner{
	    top: 45px;
	}
	#ewmsrc {
	    margin: -29px 0 0 20px;
	}
	.lists img{
		width: 350px;
	}
	.list img{
		width: 350px;
	}
	#ewmsrc{
		width: 250px;
	}
	.background .back {
	    width: 310px;
	    margin: -44px 0 0 -2%;
	}
	.give img{
		width: 100px;
		margin: 17px 10px;
	}
	.give{
		margin: 0;
	}
	.gift{
		left: 18px;
    	width: 274px;
    	top: 41px;
	}
	.gift figure{
		width: 93px;
	}
	.give{
	    position: absolute;
        top: 79%;
    	left: 36%;
	}
}
@media screen and (min-width:375px) and (max-width:412px){  
	.top p {
	    margin: -17px 0 0 85px !important;
	}
	.mores{
        top: 62%;
    	right: 25%;
	}
	.more {
        top: 62%;
    	right: 25%;
	}
	#ewmsrc {
	    margin: -29px 0 0 20px;
	}
    .animation-one .yan-one img{
		width: 70px;
	}
	.animation-one .yun-one img{
		width: 70px;
	}
	.animation-one .yun-two .yun img{
		width: 70px;
	}
	.animation-one .yun-three img{
		width: 55px;
	}
	.animation-two .time img{
		width: 200px;
	}
	.animation-two .age img{
		width: 185px;
	}
	.animation-three .qiu-one img{
		width: 50px;
	}
	.animation-three .qiu-two img{
		width: 30px;
	}
	.animation-three .pao {
	    margin: -27px 0 0 47%;
	}
	.animation-three .pao img{
		width: 210px;
	}
	.lists img{
		width: 375px;
	}
	.list img{
		width: 375px;
	}
	.pays img{
		width: 100px;
	    margin: -14px 0 0 10%;
	}
	.pay img{
		width: 100px;
	    margin: -14px 0 0 10%;
	}
	.thinks img{
		width: 130px;
	}
	.think img{
		width: 130px;
	}
	#ewmsrc{
		width: 264px;
		margin: -30px 0 0 35px;
	}
	.close1{
	    height: 66px;
    	width: 336px;
    	margin: 43px 0 0 0;
	}
	.background .back{
       	margin: -44px 0 0 -9%;
    	width: 330px;
	}
	.gift{
		left: 6px;
		top: 37px;
	}
	.give{
	    position: absolute;
        top: 79%;
    	left: 31%;
	}
}
@media screen and (min-width:412px) and (max-width:736px){  
	.top p {
	    margin: -22px 0 0 95px !important;
	}
	.mores{
	    top: 64.5%;
    	right: 26%;
	}
	.more{
       	top: 64.5%;
    	right: 26%;
	}
	#ewmsrc {
	   margin: -30px 0 0 45px;
	}
	.animation-three .qiu-one img{
		width: 50px;
	}
	.lists img{
		width: 410px;
	}
	.list img{
		width: 410px;
	}
	.pays img{
		width: 100px;
	    margin: -26px 0 0 10%;
	}
	.pay img{
        margin: -26px 0 0 10%;
		width: 100px;
	}
	.thinks img{
		width: 140px;
	    margin: -40px 0 0 49%;
	}
	.think img{
		width: 170px;
	    margin: -40px 0 0 49%;
	}
	#ewmsrc{
		width: 264px;
	}
	.close1{
	    height: 66px;
    	width: 336px;
    	margin: 43px 0 0 0;
	}
	.background .back{
	    width: 350px;
    	margin: -38px 0 0 -12%;
	}
	.gift{
	    top: 43px;
		width: 265px;
		left: 12px;
	}
	.gift figure{
		width: 110px;
	}
	.gift-two figure{
		width: 110px;
	}
	.give{
	    left: 31%;
	}
	.give img{
		width: 100px;
	}
}
@media screen and (min-width:414px) and (max-width:736px){
	.mores{
	    top: 63.5%;
    	right: 28%;
	}
	.more {
	    top: 63.5%;
    	right: 28%;
	}
	#ewmsrc {
	    margin: -29px 0 0 48px;
	}
	.background .back{
	    width: 352px;
    	margin: 0px 0 0 -13%;
	}
	.animation-three .pao img {
	    width: 218px;
	}
	.animation-three .pao {
	    margin: -16px 0 0 48%;
	}
}
@media screen and (min-width:768px) and (max-width:1024px){
	.mores {
       	top: 74.5%;
		right: 38%;
	}
	.more {
       	top: 74.5%;
		right: 38%;
	}
	.more img {
	    width: 282px;
	}
	#ewmsrc {
	    margin: -29px 0 0 20px;
	}
	.animation-three .qiu-one img{
		width: 100px;
	}
	.animation-three .qiu-two img{
		width: 80px;
	}
	.animation-one .yan-one img{
		width: 115px;
	}
	.animation-one .yun-one img{
		width: 115px;
	}
	.animation-one .yun-two .yun img{
		width: 115px;
	}
	.animation-two .time img{
		width: 400px;
	}
	.animation-two .age img{
		width: 400px;
	}
	.animation-three .pao img{
		width: 300px;
	}
	.lists img{
		width: 777px;
	}
	.list img{
		width: 777px;
		margin: 13% auto 0 auto;
	}
	.thinks img{
		width: 145px;
	}
	.think img{
		width: 211px;
	    position: relative;
	    top: -113px;
	    left: -30px;
	}
	.pay>img{
		top: -54px;
	}
	.background .back {
	    width: 398px;
	    margin: 0px 0 0 -14%;
	}
	#ewmsrc {
	    width: 364px;
	}
	.page8 .title img {
	    margin: 12px 0% 0 44%;
	}
	.gift figure img ,.gift-two figure img{
	    width: 89px;
    	padding: 5px;
	}
	.gift{
	    right: 36px;
        top: 50px;
	}
}