.animation-one .yan-one img{
	margin: -100px 0 0 10%;
}
.animation-one .yun-one img{
	margin: 2% 0 0 40%;
	animation: yun 0.8s 1 linear;
}
.yun-two{
	margin: 0 0 0 60%;
	display: flex;
}
.animation-one .yun-two .yun img{
	animation: yun 0.8s 1 linear;
}
.animation-one .yun-three img{
	margin: 0 0 0 5%;
	animation: yun 0.8s 1 linear;
}
@keyframes yun{
	0%{transform:scale(0.2);opacity: 0.5;}
	50%{opacity: 0.7;transform:scale(1) rotate(360deg);}
	100%{transform:scale(1) rotate(360deg);opacity: 1;}
}
.animation-two .time{
	margin: 5% 0 0 10%;
}
.animation-two .time img{
	width: 240px;
	animation: chin 0.8s 1 linear;
}
.animation-two .age{
	margin: 5% 0 0 30%;
}
.animation-two .age img{
	width: 215px;
	animation: china 1s 1 linear;
}
@keyframes chin{
	0%{transform:translate(-100%);}
	50%{transform:translate(-50%);}
	100%{transform:translate(0px);}
}
@keyframes china{
	0%{transform:translate(100%);}
	50%{transform:translate(50%);}
	100%{transform:translate(0px);}
}
.animation-three .qiu-one{
	margin: 30px 0 0 10%;
	display: inline-block;
}
.animation-three .qiu-two{
	margin: 0 0 0 40%;
	display: inline-block;
}
.animation-three .qiu-two img{
	animation: qiu 1s 1 linear;
}
.animation-three .qiu-one img{
	animation: qiu 1s 1 linear;
}
@keyframes qiu{
	0%{transform:scale(0.2);}
	50%{transform:scale(1) rotate(360deg);}
	100%{transform:scale(1) rotate(360deg);}
}
.animation-three .pao{
	margin: 0 0 0 60%;
	animation: pao 1s 1 linear;
}
.animation-three .pao img{
	width: 167px;
}
@keyframes pao{
	0%{transform:scale(0.2);}
	50%{transform:scale(1) rotate(360deg);}
	100%{transform:scale(1) rotate(360deg);}
}
.lists img{
	width: 400px;
	margin: 180px auto 0 auto;
	opacity: 0;
}
.list img{
	width: 400px;
	margin: 20% auto 0 auto;
	animation: qiu 1s 1 linear;
}
.pays img{
	margin: 0 0 0 60%;
	width: 150px;
	opacity: 0;
}
.pay img{
	margin: 0 0 0 60%;
	width: 150px;
	animation: qiu 1s 1 linear;
}
.thinks img{
	width: 180px;
	margin: 0 0 0 55%;
	opacity: 0;
}
.think img{
	width: 180px;
	margin: 0 0 0 55%;
	animation: qiu 1.5s 1 linear;
}
.page8 .title img{
	width: 120px;
    margin: 12px 0% 0 35%;
}
.background{
	position: relative;
}
.background img{
	width: 290px;
    margin: 0px 0 0 9%;
}
.gift-one{
	position: absolute;
	top: 2%;
	left: 15%;
}
.gift-one img{
	width: 100px;
}
.gift-two{
	position: absolute;
	top: 2%;
	left: 50%;
}
.gift-two img{
	width: 100px;
}
.gift-three{
	position: absolute;
	top: 30%;
	left: 15%;
}
.gift-three img{
	width: 100px;
}
.gift-four{
	position: absolute;
	top: 30%;
	left: 50%;
}
.gift-four img{
	width: 100px;
}
.gift-five{
	position: absolute;
	top: 60%;
	left: 15%;
}
.gift-five img{
	width: 100px;
}
.gift-sex{
	position: absolute;
	top: 60%;
	left: 50%;
}
.gift-sex img{
	width: 100px;
}
.give{
	position: absolute;
	top: 85%;
	left: 15%;
}
.give img{
	width: 100px;
}
@media screen and (max-width:360px){ 
	.animation-one .yan-one img{
		width: 55px;
	}
	.animation-one .yun-one img{
		width: 55px;
	}
	.animation-one .yun-two .yun img{
		width: 55px;
	}
	.animation-one .yun-three img{
		width: 55px;
	}
	.animation-two .time img{
		width: 200px;
	}
	.animation-two .age img{
		width: 185px;
	}
	.animation-three .qiu-one img{
		width: 50px;
	}
	.animation-three .qiu-two img{
		width: 30px;
	}
	.animation-three .pao img{
		width: 130px;
	}
	.lists img{
		width: 363px;
	}
	.list img{
		width: 363px;
	}
	.pays img{
		width: 100px;
	}
	.pay img{
		width: 100px;
	}
	.thinks img{
		width: 130px;
	}
	.think img{
		width: 130px;
	}
	#ewmsrc{
		width: 264px;
		margin: 0 0 0 20px;
	}
	.close1{
	    height: 66px;
    	width: 336px;
    	margin: 43px 0 0 0;
	}
} 
@media screen and (min-width:320px) and (max-width:360px){
	.animation-one .yan-one img{
		width: 40px;
	}
	.animation-one .yun-one img{
		width: 45px;
	}
	.animation-one .yun-two .yun img{
		width: 40px;
	}
	.animation-one .yun-three img{
		width: 40px;
	}
	.animation-two .time img{
		width: 200px;
	}
	.animation-two .age img{
		width: 185px;
	}
	.animation-three .qiu-one img{
		width: 35px;
	}
	.animation-three .qiu-two img{
		width: 30px;
	}
	.animation-three .pao img{
		width: 130px;
	}
	.lists img{
		width: 320px;
	}
	.list img{
		width: 320px;
	}
	.pays img{
		width: 100px;
	}
	.pay img{
		width: 100px;
	}
	.thinks img{
		width: 130px;
	}
	.think img{
		width: 130px;
	}
	#ewmsrc{
		width: 250px;
		margin: 37px 0 0 -16px;
	}
	.close1{
	    height: 25px;
    	width: 336px;
    	margin: 43px 0 0 0;
	}
	#closebt img {
    	width: 25px;
	}
	.background .back{
	    width: 268px;
    	margin: -36px 0 0 12%;
	}
	.gift-one{
		top: -5%;
		left: 20%;
	}
	.gift-one img{
		width: 90px;
	}
	.gift-two{
		top: -5%;
		left: 65%;
	}
	.gift-two img{
		width: 90px;
	}
	.gift-three{
		top: 25%;
		left: 20%;
	}
	.gift-three img{
		width: 90px;
	}
	.gift-four{
		top: 25%;
		left: 65%;
	}
	.gift-four img{
		width: 90px;
	}
	.gift-five{
		top: 55%;
		left: 20%;
	}
	.gift-five img{
		width: 90px;
	}
	.gift-sex{
		top: 55%;
		left: 65%;
	}
	.gift-sex img{
		width: 90px;
	}
	.give{
		top: 83%;
		left: 43%;
	}
	.give img{
		width: 100px;
	}
}
@media screen and (min-width:360px) and (max-width:375px){
	.lists img{
		width: 350px;
	}
	.list img{
		width: 350px;
	}
	#ewmsrc{
		width: 250px;
		margin: 0 0 0 20px;
	}
	.background .back {
	    width: 310px;
	    margin: 0px 0 0 -2%;
	}
	.gift-one{
		top: 4%;
		left: 10%;
	}
	.gift-one img{
		width: 100px;
	}
	.gift-two{
		top: 4%;
		left: 60%;
	}
	.gift-two img{
		width: 100px;
	}
	.gift-three{
		top: 32%;
		left: 10%;
	}
	.gift-three img{
		width: 100px;
	}
	.gift-four{
		top: 32%;
		left: 60%;
	}
	.gift-four img{
		width: 100px;
	}
	.gift-five{
		top: 60%;
		left: 10%;
	}
	.gift-five img{
		width: 100px;
	}
	.gift-sex{
		top: 60%;
		left: 60%;
	}
	.gift-sex img{
		width: 100px;
	}
	.give{
		top: 85%;
		left: 35%;
	}
	.give img{
		width: 100px;
	}
}
@media screen and (min-width:375px) and (max-width:412px){  
    .animation-one .yan-one img{
		width: 70px;
	}
	.animation-one .yun-one img{
		width: 70px;
	}
	.animation-one .yun-two .yun img{
		width: 70px;
	}
	.animation-one .yun-three img{
		width: 55px;
	}
	.animation-two .time img{
		width: 200px;
	}
	.animation-two .age img{
		width: 185px;
	}
	.animation-three .qiu-one img{
		width: 50px;
	}
	.animation-three .qiu-two img{
		width: 30px;
	}
	.animation-three .pao img{
		width: 140px;
	}
	.lists img{
		width: 375px;
	}
	.list img{
		width: 375px;
	}
	.pays img{
		width: 100px;
	}
	.pay img{
		width: 100px;
	}
	.thinks img{
		width: 130px;
	}
	.think img{
		width: 130px;
	}
	#ewmsrc{
		width: 264px;
		margin: 0 0 0 35px;
	}
	.close1{
	    height: 66px;
    	width: 336px;
    	margin: 43px 0 0 0;
	}
	.background .back{
       	margin: 0px 0 0 -9%;
    	width: 330px;
	}
	.gift-one{
		top: 2%;
		left: 5%;
	}
	.gift-one img{
		width: 110px;
	}
	.gift-two{
		top: 2%;
		left: 55%;
	}
	.gift-two img{
		width: 110px;
	}
	.gift-three{
		top: 30%;
		left: 5%;
	}
	.gift-three img{
		width: 110px;
	}
	.gift-four{
		top: 30%;
		left: 55%;
	}
	.gift-four img{
		width: 110px;
	}
	.gift-five{
		top: 60%;
		left: 5%;
	}
	.gift-five img{
		width: 110px;
	}
	.gift-sex{
		top: 60%;
		left: 55%;
	}
	.gift-sex img{
		width: 110px;
	}
	.give{
		top: 85%;
		left: 32%;
	}
	.give img{
		width: 100px;
	}
}
@media screen and (min-width:412px) and (max-width:736px){  
	.animation-three .qiu-one img{
		width: 50px;
	}
	.lists img{
		width: 410px;
	}
	.list img{
		width: 410px;
	}
	.pays img{
		width: 100px;
	}
	.pay img{
		width: 100px;
	}
	.thinks img{
		width: 140px;
	}
	.think img{
		width: 170px;
	}
	#ewmsrc{
		width: 264px;
		margin: 0 0 0 45px;
	}
	.close1{
	    height: 66px;
    	width: 336px;
    	margin: 43px 0 0 0;
	}
	.background .back{
	    width: 350px;
    	margin: 0px 0 0 -12%;
	}
	.gift-one{
		top: 5%;
		left: 0%;
	}
	.gift-one img{
		width: 110px;
	}
	.gift-two{
		top: 5%;
		left: 55%;
	}
	.gift-two img{
		width: 110px;
	}
	.gift-three{
		top: 32%;
		left: 0%;
	}
	.gift-three img{
		width: 110px;
	}
	.gift-four{
		top: 32%;
		left: 55%;
	}
	.gift-four img{
		width: 110px;
	}
	.gift-five{
		top: 60%;
		left: 0%;
	}
	.gift-five img{
		width: 110px;
	}
	.gift-sex{
		top: 60%;
		left: 55%;
	}
	.gift-sex img{
		width: 110px;
	}
	.give{
		top: 85%;
		left: 35%;
	}
	.give img{
		width: 100px;
	}
}
@media screen and (min-width:414px) and (max-width:736px){
	.background .back{
	    width: 352px;
    	margin: 0px 0 0 -13%;
	}
}
@media screen and (min-width:768px) and (max-width:1024px){
	.animation-three .qiu-one img{
		width: 100px;
	}
	.animation-three .qiu-two img{
		width: 80px;
	}
	.animation-one .yan-one img{
		width: 115px;
	}
	.animation-one .yun-one img{
		width: 115px;
	}
	.animation-one .yun-two .yun img{
		width: 115px;
	}
	.animation-two .time img{
		width: 400px;
	}
	.animation-two .age img{
		width: 400px;
	}
	.animation-three .pao img{
		width: 300px;
	}
	.lists img{
		width: 777px;
	}
	.list img{
		width: 777px;
	}
	.thinks img{
		width: 145px;
	}
	.think img{
		width: 145px;
	}
	.background .back {
    	width: 550px;
    	margin: 1px 0 0 13%;
	}
}