.page2,.page3,.page4,.page5,.page6{
	background: url(../img/bg.png) no-repeat center center;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
}
/*背景元素相框 */
.frame1,.frame2,.frame3,.frame4,.frame5,.frame6,.frame7,.frame8,.frame9,.frame10{
	background: url(../img/Photo-frame.png) no-repeat center center;
	background-size: 100% 100%;
}

/*动画前照片消失*/
.frame1 img,.frame2 img,.frame3 img,.frame4 img,.frame5 img,.frame6 img,.frame7 img,.frame8 img,.frame9 img,.frame10 img,.baby img,.three img,.eight img,.ten img,.Twelve img{
	opacity: 0;
	width: 100%;		
}

/*文字图片*/
.text1 img,.text2 img,.text3 img,.text4 img,.text5 img,.text6 img,.text7 img,.text8 img,.text9 img,.text10 img,.text11 img,.text12 img,.text13 img,.text14 img{
	width: 100%;
}

/*其它图片*/
.camera img,.car img,.tra img,.Stars2 img,.balloon4 img,.cloud2 img,.aircraft img,.cloud3 img,.cloud img,.cloud4 img,.Stars3 img,.book img,.Bicycle img,.Bird4 img,.Bird5 img,.Bird3 img,.Bird2 img,.Bird img{
	width: 100%;
}

.balloon3,.balloon4{
	background: url(../img/Lballoon.png) no-repeat center center;
	background-size: 100% 100%;
}
.balloon{
	background: url(../img/balloon.png) no-repeat center center;
	background-size: 100% 100%;
}
.textsix,.text6{
		position: relative;
    	top: -32px;
}
.Twelve{
	width: 18rem;
}
	

	




